{% extends "layout_std.html" %}
{% block title %}Detail{% endblock %}
{% block class %}
<a class="nav-link disabled" href="{{url_for('StdHome')}}" style="color: white;">
    <div class="sb-nav-link-icon" style="color: white;"><i class="fas fa-user"></i></div>
    <span>{{std_name}}</span>
</a>
<a class="nav-link" href="/student/edit/{{std_id}}">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-address-card"></i></div>
    <span>แก้ไขข้อมูลส่วนตัว</span>
</a>
<a class="nav-link" href="/student/edit/{{std_id}}">
    <div class="sb-nav-link-icon"><i class="fa-regular fa-face-smile"></i></div>
    <span>ลงทะเบียนใบหน้า</span>
</a>
<a class="nav-link" href="#">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-chart-line"></i></i></div>
    <span>Dashboard</span>
</a>
{% endblock %}
{% block body %}
    <div id="layoutSidenav_content">
        <div class="container-fluid">
            <div class="card" style="margin-top: 2%;">
                <div class="card-header"><h3>:: ข้อมูลรายวิชา {{subject.s_id}} {{subject.s_name}}</h3></div>
                <div class="card-body">
                    <form action="/student/enroll/{{subject.s_id}}" method="post">
                        <div class="form-outline mb-4">
                            <input type="text" id="subject_id" class="form-control form-control-lg disabled" name="subject_id" value="{{subject.s_id}}" readonly />
                            <label class="form-label" for="subject_id">รหัสวิชา</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" id="subject" class="form-control form-control-lg" name="subject" value="{{subject.s_name}}" readonly />
                            <label class="form-label" for="subject">รายวิชา</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" id="teacher" class="form-control form-control-lg" name="teacher" value="อาจารย์{{subject.teacher_name}}" readonly />
                            <label class="form-label" for="teacher">อาจารย์ผู้สอน</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" name="start" id="start" class="form-control form-control-lg" value="{{subject.start_time}}" readonly>
                            <label for="start" class="form-label">เวลาเข้าเรียน</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" name="end" id="end" class="form-control form-control-lg" value="{{subject.end_time}}" readonly>
                            <label for="end" class="form-label">เวลาเลิกเรียน</label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit"
                              class="btn btn-success text-body" style="font-family: 'Prompt'; font-weight: bold;">ลงทะเบียน</button>
                            <a href="{{url_for('EnrollPage')}}" role="button" class="btn btn-danger text-body" style="margin-left: 2%;">ยกเลิก</a>
                        </div>
                        <br><div id="msg" style="color:brown; font-family: 'Prompt';">{{msg}}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}