{% extends "layout_std.html" %}
{% block title %}Enroll{% endblock %}
{% block body %}
    <div id="layoutSidenav_content">
        <div class="container-fluid">
            <div class="card" style="margin-top: 2%;">
                <div class="card-header"><h3>:: ลงทะเบียนรายวิชา</h3></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="subject_tbl" class="table table-bordered table-striped" style="text-align: center;">
                                <thead>
                                    <tr class="table-info">
                                        <th>รหัสวิชา</th>
                                        <th>รายวิชา</th>
                                        <th>อาจารย์ผู้สอน</th>
                                        <th>เริ่มเรียน</th>
                                        <th>เลิกเรียน</th>
                                        <th>ลงทะเบียน</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for subject in subject %}
                                    <tr>
                                        <td>{{subject.s_id}}</td>
                                        <td>{{subject.s_name}}</td>
                                        <td>อาจารย์{{subject.teacher_name}}</td>
                                        <td>{{subject.start_time}}</td>
                                        <td>{{subject.end_time}}</td>
                                        <td><a type="button" class="btn btn-warning btn-sm" href="/student/enroll/{{subject.s_id}}">+ ลงทะเบียน</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}