{% extends "layout_teacher.html" %}
{% block title %}Edit{% endblock %}
{% block body %}

    <div id="layoutSidenav_content">
        <div class="container-fluid">
            <div class="card" style="margin-top: 2%;">
                <div class="card-header"><h3>:: เพิ่มรายวิชา</h3></div>
                <div class="card-body">
                    <form action="{{url_for('AddSubject')}}" method="post">
                        <div class="form-outline mb-4">
                            <input type="number" id="subject_id" class="form-control form-control-lg" name="subject_id" />
                            <label class="form-label" for="subject_id">รหัสวิชา</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" id="subject" class="form-control form-control-lg" name="subject" />
                            <label class="form-label" for="subject">รายวิชา</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="time" name="start" id="start" class="form-control form-control-lg">
                            <label for="start" class="form-label">เวลาเข้าเรียน</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="time" name="end" id="end" class="form-control form-control-lg">
                            <label for="end" class="form-label">เวลาเลิกเรียน</label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit"
                              class="btn btn-success text-body" style="font-family: 'Prompt'; font-weight: bold;">บันทึก</button>
                            <a href="{{url_for('THome')}}" role="button" class="btn btn-danger text-body" style="margin-left: 2%;">ยกเลิก</a>
                        </div>
                        <br><div id="msg" style="color:brown; font-family: 'Prompt';">{{msg}}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}