{% extends "layout_teacher.html" %}
{% block title %}Edit{% endblock %}
{% block class %}
<a class="nav-link" href="{{url_for('THome')}}">
    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
    <span>{{teacher_name}}</span>
</a>
<a class="nav-link" href="/teacher/edit/{{teacher_id}}" style="color: white;">
    <div class="sb-nav-link-icon" style="color: white;"><i class="fa-solid fa-address-card"></i></div>
    <span>แก้ไขข้อมูลส่วนตัว</span>
</a>
<a class="nav-link" href="#">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-chart-line"></i></i></div>
    <span>Dashboard</span>
</a>
{% endblock %}
{% block body %}
    <div id="layoutSidenav_content">
        <div class="container-fluid">
            <div class="card" style="margin-top: 2%;">
                <div class="card-header"><h3>แก้ไขข้อมูลส่วนตัว</h3></div>
                <div class="card-body">
                    <form action="/teacher/update/{{user.teacher_id}}" method="post">
                        <div class="form-outline mb-4">
                            <input type="text" id="username" class="form-control form-control-lg" name="username" required/>
                            <label class="form-label" for="username">ชื่อผู้ใช้ : {{user.username}}</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" id="teacher_name" class="form-control form-control-lg" name="teacher_name" required/>
                            <label class="form-label" for="teacher_name">ชื่อ : {{user.teacher_name}}</label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit"
                              class="btn btn-success btn-lg gradient-custom-4 text-body" style="font-family: 'Prompt'; font-weight: bold;">แก้ไขข้อมูล</button>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="card" style="margin-top: 2%;">
                <div class="card-header"><h3>เปลี่ยนรหัสผ่าน</h3></div>
                <div class="card-body">
                    <form action="/teacher/update/{{user.teacher_id}}" method="post">
                        <div class="form-outline mb-4">
                            <input type="password" id="password" class="form-control form-control-lg" name="password" required/>
                            <label class="form-label" for="password">รหัสผ่านใหม่</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" id="conf_pw" class="form-control form-control-lg" name="conf_pw" required/>
                            <label class="form-label" for="conf_pw">ยืนยันรหัสผ่าน</label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit"
                              class="btn btn-success btn-lg gradient-custom-4 text-body" style="font-family: 'Prompt'; font-weight: bold;">เปลี่ยนรหัสผ่าน</button>
                        </div>
                        <br><div id="msg" style="color:brown; font-family: 'Prompt';">{{msg}}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}