{% extends "layout_teacher.html" %}
{% block title %}Home{% endblock %}
{% block class %}
<a class="nav-link" href="{{url_for('THome')}}" style="color: white;">
    <div class="sb-nav-link-icon" style="color: white;"><i class="fas fa-user"></i></div>
    <span>{{teacher_name}}</span>
</a>
<a class="nav-link" href="/teacher/edit/{{teacher_id}}">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-address-card"></i></div>
    <span>แก้ไขข้อมูลส่วนตัว</span>
</a>
<a class="nav-link" href="#">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-chart-line"></i></i></div>
    <span>Dashboard</span>
</a>
{% endblock %}
{% block body %}
    <div id="layoutSidenav_content">
        <div class="container-fluid">
            <div class="card" style="margin-top: 2%;">
                <div class="card-header"><h3>ระบบบันทึกการเข้าเรียนออนไลน์</h3></div>
                <div class="card-body">
                    <div class="row row-cols-auto">
                        <div class="col">
                            <h5><i class="fa fa-user" style="color: rgb(12, 124, 189);"></i> สวัสดีอาจารย์ {{teacher_name}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <div class="row row-cols-auto">
                        <div class="col"><h4>รายวิชาที่สอน</h4></div>
                        <div class="col">
                            <a type="button" class="btn btn-primary btn-sm" href="{{url_for('AddSubject')}}">+ เพิ่มรายวิชา</a>
                        </div>
                    </div>
                    
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="subject_tbl" class="table table-bordered table-striped" style="text-align: center;">
                                <thead>
                                    <tr class="table-info">
                                        <th width="5%">รหัสวิชา</th>
                                        <th width="55%">รายวิชา</th>
                                        <th width="10%">จำนวนนิสิต</th>
                                        <th width="10%">เช็คชื่อ</th>
                                        <th width="10%">ประวัติการเข้าเรียน</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for subject in subject %}
                                    <tr>
                                        <td>{{subject.s_id}}</td>
                                        <td>{{subject.s_name}}</td>
                                        <td>{{subject.totalstd}}</td>
                                        {% if subject.totalstd > 0 %}
                                            <td>
                                                <a type="button" class="btn btn-warning btn-sm" href="/teacher/checkin/{{subject.s_id}}/{{today_date}}">+ เช็คชื่อ</a>
                                                <!-- <br><div id="msg" style="color:brown; font-family: 'Prompt';">{{msg}}</div> -->
                                            </td>
                                            <td><a type="button" class="btn btn-info btn-sm" href="/teacher/checkinHistory/{{subject.s_id}}">ประวัติ</a></td>
                                            
                                        {% else %}
                                            <td>-</td>
                                            <td>-</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}